@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  display: flex;
  align-items: center;
}
.product {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  text-align: center;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.productImg {
  width: 10rem;
}













